@media screen and (max-width:1280px) {
	
}

*{
	font-family: "Comic sans MS";
	color: black;
	margin: 5px;
	padding: 5px;
/*	background-color: #83A697; */

}

header{
	background-color: #83A697; 
}

main{
/*	background-color: #83A697; */
}

footer{
	background-color: #83A697;
}

#sinscrire{

}

h1{
	text-align: center;
}

#categorie{

}

input {

}

#affichagelisteencheres{
	display: flex;	
	flex-wrap:wrap;
}

ul{
	padding:10px;
	list-style:none;
	border-style: solid;
	width:25%;
	height: auto;
	background-color: white;
}
li{
	background-color: white;
}

form{
	
}

#choixrecherche{
	display:flex;
	margin:5px;
	padding:5px;
	/* border: solid; */
}