@media screen and (max-width:1280px) {
	
}

*{
	font-family: "Comic sans MS";
	color: black;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
/*	background-color: #83A697; */

}

header{
	background-color: #83A697; 
	display: flex;
}

main{
/*	background-color: #83A697; */
}

footer{
	background-color: #83A697;
}

h2{
	text-align : center;
	font-size : 0.8;
	color : #83A697; 
	font-weight: bold;
}

#nomArticle{
	text-align : center;
	color : #83A697; 
	font-weight: bold;
}
#texteEnchere{
	text-align : center;
	font-size : 0.2;
	color : #83A697; 
	font-weight: bold;
}

#sinscrire{
	border-right: 0px;
}

h1{
	text-align: center;
}

#navigation{

}

input {

}

#affichagelisteencheres{
	display: flex;	
	flex-wrap:wrap;
}

ul{
	padding:10px;
	list-style:none;
	border-style: solid;
	width:30%;
	height: auto;
	background-color: white;
}
li{
	background-color: white;
}

form{
	
}

#choixrecherche{
	display:flex;
	margin:5px;
	padding:5px;
	/* border: solid; */
}
